body{
    background-image: url("https://media.istockphoto.com/photos/wood-table-top-on-blur-kitchen-room-counter-background-picture-id1296450286?b=1&k=20&m=1296450286&s=170667a&w=0&h=rSR8n5A3BnV69WfqDfdDIkxlky1ZkecZNJbfaXcZjfs=");

    background-size: 100%;


}
        #poster{
            width:30%;
            border-radius: 25px;;
            padding: 10px;;
        }
       
       
        #detailsbox{
            display:flex;
            width:70%;
            margin:auto;
            padding:20px;
        }
        h1{
            text-align: center;
            color:red;
            margin:-10px;
        }
        #box{
            display: flex;
            width:50%;
            margin:auto;
        }
        #diver>p {
            /* border:1px solid whitesmoke; */
            width:300px;
            margin:0px;
            padding:5px;

        }
        #diver1>p {
            /* border:1px solid whitesmoke; */
            width:300px;
            margin:0px;
            padding:5px;
        }

       #bb{
           /* border:1px solid red; */
           margin-left: 100px;
           padding:10px;
       }
       #Receipe{
           color:chocolate;
       }